
@{
    ViewBag.Title = "Languaje";
}

<h2>Languaje</h2>


<li>@Html.ActionLink("English", "", "", new { LanguageAbbrevation = "en" }, null)</li>
<li>@Html.ActionLink("Spanish", "", "", new { LanguageAbbrevation = "es" }, null)</li>

