<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT chid1 ANY>
<!ATTLIST chid1 id ID #REQUIRED>
]>
<root id="-1">
  <master id="1063" key="02088739-0e14-49f0-8096-98d990b638b5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-09T13:02:11" updateDate="2017-08-10T10:44:33" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="Richad" writerName="Richad" writerID="0" template="1066" nodeTypeAlias="master">
    <siteName><![CDATA[Web Home]]></siteName>
  </master>
</root>